#dataset                     catalog  vers (isdata usegen nevents skiphltfail)
#========================================================================================
#r11a-mueg-m10-v1           	cern  025 1 0 -1 1 
#r11a-mueg-pr-v4                cern  025 1 0 -1 1
#r11a-mueg-a05-v1               cern  025 1 0 -1 1
#r11a-mueg-o03-v1               cern  025 1 0 -1 1
#r11b-mueg-pr-v1                cern  025 1 0 -1 1
#r11a-dmu-a05-v1                cern  025 1 0 -1 1
#r11a-dmu-pr-v6                 cern  025 1 0 -1 1
#r11a-dmu-m10-v1                cern  025 1 0 -1 1
#r11a-dmu-pr-v4                 cern  025 1 0 -1 1
#r11a-dmu-m10-v1-emb-tau123     cern  025 2 2 -1 0
#r11a-dmu-pr-v4-emb-tau123      cern  025 2 2 -1 0
#r11a-dmu-a05-v1-emb-tau123     cern  025 2 2 -1 0
#r11a-dmu-o03-v1-emb-tau123     cern  025 2 2 -1 0
#r11b-dmu-pr-v1-emb-tau123      cern  025 2 2 -1 0
#========================================================================================
#s11-h100tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h100tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h100tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h100tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h105tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h105tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h110tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h110tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h115tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h115tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h120tt-bbh-v11-pu          cern  025 0 1 -1 0
s11-h120tt-gf-v11-pu            cern  025 0 1 -1 0
#s11-h120tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h120tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h120tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h125tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h125tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h125tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h130tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h130tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h130tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h130tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h135tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h135tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h135tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h140tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h140tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h140tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h140tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h140tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h145tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h145tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h145tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h150tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h160tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h160tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h160tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h160tt-vbf-v11-pu          cern  025 0 1 -1 0
#s11-h160tt-vtth-v11-pu         cern  025 0 1 -1 0
#s11-h180tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h180tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h180tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h200tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h200tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h200tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h250tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h250tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h250tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h300tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h300tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h300tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h350tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h350tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h350tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h400tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h400tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h400tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h450tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h450tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h450tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h500tt-bbh-v11-pu          cern  025 0 1 -1 0
#s11-h500tt-gf-v11-pu           cern  025 0 1 -1 0
#s11-h500tt-ggh-v11-pu          cern  025 0 1 -1 0
#s11-h90tt-bbh-v11-pu           cern  025 0 1 -1 0
#s11-h90tt-gf-v11-pu            cern  025 0 1 -1 0
#s11-h90tt-ggh-v11-pu           cern  025 0 1 -1 0
#s11-h90tt-vtth-v11-pu          cern  025 0 1 -1 0
#s11-h95tt-gf-v11-pu            cern  025 0 1 -1 0
#s11-h95tt-vbf-v11-pu           cern  025 0 1 -1 0
#========================================================================================
#s11-stop-powheg-v11-pu         cern  025 0 0 -1 0
#s11-ttj-v11-pu                 cern  025 0 0 -1 0
#f11-ttj-v14b2-pu               cern  025 0 0 -1 0
#s11-ttop-powheg-v11-pu         cern  025 0 0 -1 0
#s11-ww2l-v11-pu                cern  025 0 4 -1 0
#s11-wz3l-v11-pu                cern  025 0 0 -1 0
#s11-zjets-v11-pu               cern  025 0 2 -1 0
#s11-zmmm20-powheg-v11-pu       cern  025 0 2 -1 0
#s11-zz2l-v11-pu                cern  025 0 0 -1 0
#f11-ttj-44v10                  cern  025 0 0 -1 0
#f11-wjets-44v10                cern  025 0 0 -1 0
#f11-wjets-v14b-pu              cern  025 0 0 -1 0
#f11-zjets-44v10                cern  025 0 2 -1 0
