#dataset                     catalog  vers (isdata usegen nevents skiphltfail)
#========================================================================================
#r11a-mueg-m10-v1           	t2mit  023 1 0 -1 1 
#r11a-mueg-pr-v4                 t2mit  023 1 0 -1 1
#r11a-mueg-pr-v5                local  023 1 0 -1 1
#r11a-mueg-a05-v1                t2mit  023 1 0 -1 1
#r11a-mueg-pr-v6                 t2mit  023 1 0 -1 1
#r11a-mueg-m10-v1               local  023 1 0 -1 1 
#r11a-mueg-pr-v4                local  023 1 0 -1 1
#r11a-dmu-pr-v5                local  023 1 0 -1 1
#r11a-dmu-a05-v1                local  023 1 0 -1 1
#r11a-dmu-pr-v6                 local  023 1 0 -1 1
#r11a-dmu-m10-v1                local  023 1 0 -1 1
#r11a-dmu-pr-v4                 local  023 1 0 -1 1
#========================================================================================
#####s11-h100mm-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h100tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h100tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h100tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h100tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h105tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h105tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h110tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h110tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h115tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h115tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h120tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h120tt-gf-v1g1-pu           local  023 0 1 -1 0
##s11-h120tt-ggh-d6t-v1g1-pu      local  023 0 1 -1 0
s11-h120tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h120tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h120tt-vtth-v1g1-pu         local  023 0 1 -1 0
s11-h125tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h125tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h125tt-vtth-v1g1-pu         local  023 0 1 -1 0
##s11-h130mm-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h130tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h130tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h130tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h130tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h135tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h135tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h135tt-vtth-v1g1-pu         local  023 0 1 -1 0
s11-h140tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h140tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h140tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h140tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h140tt-vtth-v1g1-pu         local  023 0 1 -1 0
s11-h145tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h145tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h145tt-vtth-v1g1-pu         local  023 0 1 -1 0
s11-h150tt-vtth-v1g1-pu         local  023 0 1 -1 0
s11-h160tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h160tt-gf-v1g1-pu           local  023 0 1 -1 0
##s11-h160tt-ggh-d6t-v1g1-pu      local  023 0 1 -1 0
s11-h160tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h160tt-vbf-v1g1-pu          local  023 0 1 -1 0
s11-h160tt-vtth-v1g1-pu         local  023 0 1 -1 0
s11-h180tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h180tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h180tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h200tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h200tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h200tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h250tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h250tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h250tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h300tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h300tt-gf-v1g1-pu           local  023 0 1 -1 0
###s11-h300tt-ggh-d6t-v1g1-pu      local  023 0 1 -1 0
s11-h300tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h350tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h350tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h350tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h400tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h400tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h400tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h450tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h450tt-gf-v1g1-pu           local  023 0 1 -1 0
s11-h450tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h500tt-bbh-v1g1-pu          local  023 0 1 -1 0
s11-h500tt-gf-v1g1-pu           local  023 0 1 -1 0
##s11-h500tt-ggh-d6t-v1g1-pu      local  023 0 1 -1 0
s11-h500tt-ggh-v1g1-pu          local  023 0 1 -1 0
s11-h90tt-bbh-v1g1-pu           local  023 0 1 -1 0
s11-h90tt-gf-v1g1-pu            local  023 0 1 -1 0
s11-h90tt-ggh-v1g1-pu           local  023 0 1 -1 0
s11-h90tt-vtth-v1g1-pu          local  023 0 1 -1 0
s11-h95tt-gf-v1g1-pu            local  023 0 1 -1 0
s11-h95tt-vbf-v1g1-pu           local  023 0 1 -1 0
#========================================================================================
###s11-qcdmu15-v11-pu              local  023 0 0 -1 0
##s11-stop-powheg-v11-pu          local  023 0 0 -1 0
#s11-ttj-v11-pu                  local  023 0 0 -1 0
###s11-ttop-powheg-v11-pu          local  023 0 0 -1 0
#####s11-wjets-v11-pu                local  023 0 0 -1 0
#s11-ww2l-v11-pu                 local  023 0 4 -1 0
#s11-wz3l-v11-pu                 local  023 0 0 -1 0
#####s11-zeem1020-v11-pu             local  023 0 2 -1 0
##s11-zeem20-powheg-v11-pu        local  023 0 2 -1 0
#####s11-zeem20-v11-pu               local  023 0 2 -1 0
#s11-zjets-v11-pu                local  023 0 2 -1 0
#####s11-zmmm1020-v11-pu             local  023 0 2 -1 0
#s11-zmmm20-powheg-v11-pu        local  023 0 2 -1 0
#####s11-zmmm20-v11-pu               local  023 0 2 -1 0
#####s11-zttm1020-v11-pu             local  023 0 2 -1 0
##s11-zttm20-powheg-v11-pu        local  023 0 2 -1 0
#####s11-zttm20-v11-pu               local  023 0 2 -1 0
#s11-zz2l-v11-pu                 local  023 0 0 -1 0
