#dataset                     catalog  vers (isdata usegen nevents skiphltfail)
#========================================================================================
#r11a-mueg-pr-v1  		local  020 1 0 -1 1
#r11a-mueg-pr-v2  		local  020 1 0 -1 1
#r10a-mu-d22      		local  018 1 0 -1 1
#r10b-mu-d22      		local  018 1 0 -1 1
#========================================================================================
#p11-gghtt120-v1g1-pu      	local  020 0 1 -1 0
#p11-h140tt-ggh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h160tt-ggh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h180tt-ggh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h300tt-ggh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h350tt-ggh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-bbhtt120-v1g1-pu      	local  020 0 1 -1 0
#p11-h140tt-bbh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h160tt-bbh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h180tt-bbh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h300tt-bbh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h350tt-bbh-v1g1-pu      	t2mit  020 0 1 -1 0
#p11-h115tt-vbf-v1g1-pu    	local  020 0 1 -1 0
#p11-h125tt-vbf-v1g1-pu    	local  020 0 1 -1 0
#p11-h135tt-vbf-v1g1-pu    	local  020 0 1 -1 0
#p11-h145tt-vbf-v1g1-pu    	local  020 0 1 -1 0
##========================================================================================
#p11-vvj-v1g1-pu                t2mit  020 0 4 -1 0
#p11-ggww-v1g1-pu           	local  020 0 4 -1 0
#p11-ttj-v1g1-pu           	local  020 0 0 -1 0
#p11-stop-v1g1-pu           	local  020 0 0 -1 0
#p11-ttop-v1g1-pu           	local  020 0 0 -1 0
#p11-wtop-v1g1-pu           	local  020 0 0 -1 0
#p11-zeem20-v1g1-pu        	local  020 0 2 -1 0
#p11-zmmm20-v1g1-pu        	local  020 0 2 -1 0
#p11-zttm20-v1g1-pu        	local  020 0 2 -1 0
#p11-zee1020-v1g1-pu       	local  020 0 2 -1 0
#p11-zmm1020-v1g1-pu       	local  020 0 2 -1 0
#p11-ztt1020-v1g1-pu       	local  020 0 2 -1 0
#p11-pj-v1g1-pu                 local  020 0 0 -1 0
#p11-wjetsl-v1g1-pu         	local  020 0 0 -1 0
#p11-wz-v1g1-pu                 local  020 0 0 -1 0
#p11-zz-v1g1-pu                 local  020 0 0 -1 0
#p11-qcdmu15-v1g1-pu       	local  020 0 0 -1 0
#p11-qcdem20_30-v1g1-pu    	local  020 0 0 -1 0
#p11-qcdem30_80-v1g1-pu    	local  020 0 0 -1 0
#p11-qcdem80_170-v1g1-pu   	local  020 0 0 -1 0
p11-zll50-v1g1-pu              t2mit  020 0 2 -1 0
