#!/usr/bin/bash

# Note: if your code doesn't fit in this box, you're probably doing something wrong.
# Imports: external functions and constants go here
# file namespace

$ SAMPLES emu.samples

$ GROUPS emu.groups

$ HEADERS EmuData.hh

$ GLOBAL global.py

$ EVENT event.py

$ STYLES styles.py

$ SPECS specs.py

$ OUTPUT output_hist.py

$ DIRECTORY root

$ YIELDS background_group,signal_group,data_group

$ TREE tree.py
#BRANCH  #CLASS/STRUCT #VARIABLE

$ Categories

$ CATEGORY universal
Weights:
group mc_nf_group uni_weight
group data_group 1.0
group fakes_group kssFakeWeight

Selection

Plots:
vismass
svmass
leppt

$$ CATEGORY inclusive
Weights

Selection
0.85*data.data.pvis - data.data.pmet < 25

Plots:
vismass
svmass

$$$ CATEGORY emu_novbf
Weights:
sample Ztt kCat_novbf

Selection:
(data.data.njets == 2 and (not vbf_selection)) or (data.data.njets < 2)

Plots:
vismass,svmass

$$$ CATEGORY emu_vbf
Weights:
sample Ztt kCat_vbf

Selection:
vbf_selection

Plots:
vismass,svmass

$$$ CATEGORY emu_nob
Weights:
#group b_group kExpB_nob
#group unb_group kUnB_nob
sample Ztt kCat_nob

Selection:
data.data.njets <= 1 and data.data.nbjets == 0

Plots:
vismass
svmass

$$$ CATEGORY emu_b
Weights:
#group b_group kExpB_b
#group unb_group kUnB_b
sample Ztt kCat_b

Selection:
data.data.njets<=1 and data.data.nbjets>0

Plots:
vismass
svmass

! Categories

$ Plots
vismass combo_fakes:merge_stack,data_group:data_style,no_combo_fakes:default_stack,signal_group:signal_stack10
svmass combo_fakes:merge_stack,data_group:data_style,no_combo_fakes:default_stack,signal_group:signal_stack10
leppt combo_fakes:merge_stack,data_group:data_style,no_combo_fakes:default_stack,signal_group:signal_stack10
! Plots

